<!DOCTYPE html>
<html lang="en">


<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anjuman Taiyabi Jamaat: Mumin Master </title>
</head>

<body>
    <div class="sidebar">
        <center>
            <p>
                <img src="{% static 'img/ajt_logo.png' %}" style="width: 80%; height: 80%;">
            </p>
        </center>
        <a href="/jamaat/allocation/wajebaat_appointment">Wajebaat Takhmeem</a>
        <a href="/jamaat/allocation/wajebaat_registration_data">Wajebaat Registration Data</a>
        <a href="/jamaat/allocation/wajebaat_mumin_master">Mumineen HOF</a>
        <a href="" onclick="logout()">Logout</a>
    </div>

    <div class="content">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h2>Mumin HOF Master</h2>
            </div>
            <div class="col-sm-12 col-lg-6">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#uploadModal"
                    style="float: right; margin-top: 10px;">
                    <span class="fs-8 text-white">
                        <u>↑</u>&nbsp;&nbsp;&nbsp;Upload Mumin HOFs</span>
                </button>
            </div>

        </div>
        <p>Upload mumineen data.</p>
        <hr>

        <div class="alert alert-danger" id='alert-box-error' role="alert" style="display: none;">
            It seems server-side issue has occured. Please try again or bear patience.
        </div>
        <div class="alert alert-success" id='alert-box-success' role="alert" style="display: none;">
            Successfully uploaded all mumineen data.
        </div>  

        <table>
            <thead>
                <tr>
                    <th>ITS</th>
                    <th>Full name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Sector</th>
                    <th>Sub-sector</th>
                </tr>
            </thead>
            <tbody id="mumin_list_rows">
            </tbody>
        </table>

        <nav aria-label="Page navigation example" id="pagination_block" style="display:none">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" style="color: #fff; background-color: #000;" onclick="prevNextActionHandler(this)">Previous</a></li>
                <li class="page-item"><a class="page-link current-page" onclick="markSelectedPage(this)" href="#" style="color: #000; background-color: #fff;" id="prev_ref">1</a></li>
                <li class="page-item"><a class="page-link" onclick="markSelectedPage(this)" href="#" style="color: #fff; background-color: #000;" id="2nd">2</a></li>
                <li class="page-item"><a class="page-link" onclick="markSelectedPage(this)" href="#" style="color: #fff; background-color: #000;" id="3rd">3</a></li>
                <li class="page-item"><a class="page-link" onclick="markSelectedPage(this)" href="#" style="color: #fff; background-color: #000;" id="4th">4</a></li>
                <li class="page-item"><a class="page-link" onclick="markSelectedPage(this)" href="#" style="color: #fff; background-color: #000;" id="next_ref">5</a></li>
                <li class="page-item"><a class="page-link" href="#" style="color: #fff; background-color: #000;" onclick="prevNextActionHandler(this)">Next</a></li>
            </ul>
        </nav>

        {% include 'wajebaat_mumin_master/upload_mumineen_hof_modal.html' %}


    </div>


    <script>
        window.onload = function() {

            var accessToken = getCookie('JMT_USER_JWT_TOKEN');

            if (!accessToken) {
                window.location.href = '/jamaat/auth/jamaat_login';
            }
            
            fetch_mumin_list(1);
        };
    </script>

</body>

</html>