<div class="modal fade" id="canceTokenModal" tabindex="-1" role="dialog"
    aria-labelledby="canceTokenModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="canceTokenModalLabel">Cancel Token?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Once you cancel token, it will be removed. You can still re-register using other dates.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="mumin_cancel_token()">Cancel Token</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
                </div>

        </div>
    </div>
</div>